@charset "UTF-8";
@media screen and (min-width: 960px) {
  body {
    margin: 0;
    margin-top: 1%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../img/lin.png) no-repeat;
    background-size: contain; }
    body header {
      width: 90%;
      display: flex;
      flex-direction: row; }
      body header .logo {
        width: 20%; }
        body header .logo img:hover {
          cursor: pointer; }
      body header .navigation {
        width: 80%; }
        body header .navigation .profile ul {
          margin: 0;
          list-style-type: none;
          display: flex;
          flex-direction: row;
          justify-content: flex-end; }
          body header .navigation .profile ul li {
            margin-left: 5%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer; }
          body header .navigation .profile ul li:hover {
            background-color: #e9e9e9; }
          body header .navigation .profile ul .search {
            width: 30px;
            height: 25px;
            background: url(../img/search.png) no-repeat; }
          body header .navigation .profile ul .number {
            cursor: default; }
            body header .navigation .profile ul .number p {
              margin: 0; }
              body header .navigation .profile ul .number p span {
                border-bottom: 1px dashed #000080;
                margin-right: 5px; }
              body header .navigation .profile ul .number p img {
                width: 10px; }
              body header .navigation .profile ul .number p img:hover {
                cursor: pointer; }
          body header .navigation .profile ul .cab {
            display: flex; }
            body header .navigation .profile ul .cab img {
              width: 20px;
              margin-right: 10px; }
            body header .navigation .profile ul .cab p {
              margin: 0; }
          body header .navigation .profile ul .lang {
            display: flex; }
            body header .navigation .profile ul .lang .world {
              width: 20px;
              margin-right: 10px; }
            body header .navigation .profile ul .lang p {
              margin: 0;
              margin-left: 2%;
              margin-right: 5px; }
            body header .navigation .profile ul .lang img {
              width: 10px; }
        body header .navigation .navi {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          height: 50%;
          margin-top: 1%; }
          body header .navigation .navi ul {
            width: 100%;
            margin: 0;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center; }
            body header .navigation .navi ul li {
              height: 30px;
              margin-left: 3%;
              display: flex;
              justify-content: center;
              align-items: center;
              font-weight: bold;
              font-size: 16px;
              cursor: pointer; }
              body header .navigation .navi ul li img {
                width: 10px; }
            body header .navigation .navi ul li:hover {
              color: red; }
            body header .navigation .navi ul .korzina {
              display: flex;
              flex-direction: row;
              width: 15%;
              min-width: 70px;
              background-color: #f6f6f6; }
              body header .navigation .navi ul .korzina img {
                width: 20px; }
              body header .navigation .navi ul .korzina span {
                font-size: 18px; }
    body .main {
      width: 90%;
      display: flex; }
      body .main .words {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center; }
        body .main .words .center {
          width: 60%; }
          body .main .words .center h1 {
            width: 80%;
            font-family: Verdana;
            color: red;
            margin-bottom: 0; }
          body .main .words .center p {
            width: 70%;
            font-size: 16px;
            color: #b0bfce; }
          body .main .words .center button {
            cursor: pointer;
            height: 50px;
            background: url(../img/button.png) no-repeat;
            color: #fff;
            text-align: center;
            border-radius: 4px; }
          body .main .words .center button:hover {
            background: url(../img/button.png) no-repeat;
            background-size: cover;
            color: #fff;
            border: none;
            border-radius: 8px;
            padding: 10px 27px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            font-family: 'Oxygen', sans-serif;
            letter-spacing: 2px; }
      body .main .mainImg {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center; }
        body .main .mainImg img {
          width: 100%; }
      body .main .space {
        width: 10%; }
      body .main .lines {
        width: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end; }
        body .main .lines img {
          margin-top: 20%; }
    body .all-list {
      width: 90%;
      display: flex;
      justify-content: center; }
      body .all-list .list .products {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 800; }
      body .all-list .list .show-all {
        cursor: pointer;
        color: red; }
      body .all-list .list .show-all:hover {
        font-size: 18px; }
    body .digital {
      width: 90%; }
      body .digital ul {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        body .digital ul li {
          width: 20%;
          list-style-type: none;
          margin-left: 20px;
          cursor: pointer; }
          body .digital ul li .twoBut {
            display: none; }
          body .digital ul li .risynok {
            width: 100%;
            height: 270px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative; }
            body .digital ul li .risynok .promo {
              position: absolute;
              color: red;
              top: 0;
              right: 5%;
              border: 1px solid red;
              z-index: 1; }
            body .digital ul li .risynok .invise {
              position: absolute;
              left: 0;
              bottom: 0;
              right: 0;
              background: rgba(26, 26, 26, 0.7);
              display: none; }
            body .digital ul li .risynok .clear {
              top: 0;
              width: 100%;
              height: 20%; }
            body .digital ul li .risynok .buttons {
              top: 20%;
              width: 100%;
              height: 50%;
              display: none;
              flex-direction: column;
              justify-content: center;
              align-items: center; }
              body .digital ul li .risynok .buttons .butt {
                cursor: pointer;
                width: 60%;
                height: 30%;
                margin: 2%;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #fff; }
              body .digital ul li .risynok .buttons .butt:hover {
                background-color: red; }
            body .digital ul li .risynok .price {
              top: 70%;
              width: 100%;
              height: 30%;
              display: none;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-end; }
              body .digital ul li .risynok .price .wrongPrice {
                text-decoration: line-through;
                color: red; }
              body .digital ul li .risynok .price h3 {
                color: #fff;
                margin: 0;
                margin-left: 5%; }
          body .digital ul li .risynok:hover .invise {
            display: flex;
            background-color: #1d1d1db9; }
          body .digital ul li .details h3:hover {
            color: red; }
          body .digital ul li .details p {
            color: #b0bfce; }
    body .callback {
      width: 80%;
      background: url(../img/fon.png) no-repeat;
      background-size: 100% 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      body .callback h2:after {
        content: "Форма реєстрації"; }
      body .callback form {
        width: 70%;
        height: 300px;
        display: flex;
        flex-wrap: wrap; }
        body .callback form input {
          width: 43%;
          height: 50px;
          margin-left: 1%;
          padding-left: 5%; }
        body .callback form input:hover {
          background-color: #e2e2e2; }
        body .callback form input[list="browsers"]::-webkit-calendar-picker-indicator {
          color: rgba(0, 0, 0, 0);
          opacity: 1;
          background: url(../img/redArrowDown.png) no-repeat;
          width: 10px;
          height: 10px; }
        body .callback form .last {
          width: 92%; }
      body .callback .send {
        background-color: red;
        width: 15%;
        height: 50px;
        color: #fff;
        cursor: pointer;
        margin-bottom: 3%;
        border-radius: 5px;
        font-size: 16px; }
      body .callback .send:hover {
        background-color: #be0000;
        color: #fff;
        border: none;
        border-radius: 8px;
        padding: 10px 27px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        font-family: 'Oxygen', sans-serif;
        letter-spacing: 2px; }
    body .arrow {
      width: 90%;
      height: 150px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start; }
      body .arrow a {
        width: 45px;
        height: 45px;
        background-color: #fff;
        box-shadow: -4px 33px 100px 3px #c0c0c0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center; }
        body .arrow a .square {
          width: 40%;
          height: 40%; }
          body .arrow a .square img {
            width: 100%;
            height: 100%; }
    body footer {
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end; }
      body footer h3 {
        color: red; }
      body footer .power {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        body footer .power .text p .otakoyi {
          font-weight: 800; } }
@media screen and (min-width: 576px) and (max-width: 960px) {
  body {
    margin: 0;
    padding: 0; }
    body header .logo {
      text-align: center; }
    body header .navigation .profile {
      display: none; }
    body header .navigation .navi ul {
      padding: 0;
      list-style-type: none; }
      body header .navigation .navi ul li {
        border-bottom: 2px solid rgba(139, 69, 19, 0.24);
        padding: 2vw; }
        body header .navigation .navi ul li img {
          display: none; }
        body header .navigation .navi ul li:last-child img {
          display: inline-block; }
        body header .navigation .navi ul li:hover {
          font-size: 2.5vw;
          font-weight: bold; }
    body .main {
      display: flex;
      flex-direction: row; }
      body .main .words {
        display: flex;
        flex-direction: column;
        justify-content: center; }
        body .main .words .center {
          display: flex;
          flex-direction: column;
          align-items: center; }
          body .main .words .center h1 {
            margin: 0;
            text-align: center; }
          body .main .words .center p {
            font-size: 2vw;
            width: 80%; }
          body .main .words .center button {
            width: 20vw;
            font-size: 2vw;
            padding: 1vw;
            font-weight: bold;
            color: #f6f6f6;
            background-color: #505050;
            border-radius: 1vw; }
            body .main .words .center button:active {
              transform: translateY(3px); }
      body .main .mainImg {
        text-align: center; }
        body .main .mainImg img {
          width: 90%; }
      body .main .space {
        display: none; }
      body .main .lines {
        display: none; }
    body .all-list {
      width: 100%;
      display: flex;
      justify-content: center; }
      body .all-list .list {
        width: 50%;
        text-align: center; }
        body .all-list .list .products {
          font-weight: bold;
          font-size: 2vw; }
        body .all-list .list .show-all {
          color: red; }
    body .digital ul {
      padding: 0; }
      body .digital ul li {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        margin-bottom: 2vw; }
        body .digital ul li .risynok {
          width: 30%;
          text-align: center;
          position: relative;
          padding-top: 2vw; }
          body .digital ul li .risynok .promo {
            right: 0;
            top: 0;
            margin: 0;
            position: absolute;
            color: red;
            font-size: 2.1vw;
            z-index: 1; }
          body .digital ul li .risynok .invise {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba(26, 26, 26, 0.7);
            display: none; }
          body .digital ul li .risynok .clear {
            top: 0;
            width: 100%;
            height: 20%; }
          body .digital ul li .risynok .buttons {
            top: 20%;
            width: 100%;
            height: 50%;
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center; }
            body .digital ul li .risynok .buttons .butt {
              cursor: pointer;
              width: 60%;
              height: 30%;
              margin: 2%;
              font-size: 2vw;
              color: #fff;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 1px solid #fff; }
            body .digital ul li .risynok .buttons .butt:hover {
              background-color: red; }
          body .digital ul li .risynok .price {
            height: 30%;
            margin: 0;
            display: none;
            flex-direction: column;
            justify-content: flex-end; }
            body .digital ul li .risynok .price h3 {
              text-align: left;
              margin: 0;
              color: #fff; }
            body .digital ul li .risynok .price .wrongPrice {
              color: red;
              text-decoration: line-through; }
        body .digital ul li .risynok:hover .invise {
          display: flex;
          background-color: #1d1d1db9; }
        body .digital ul li .twoBut {
          display: none; }
        body .digital ul li .details {
          width: 65;
          margin-left: 5%; }
          body .digital ul li .details h3 {
            font-size: 2.5vw; }
          body .digital ul li .details p {
            font-size: 2vw; }
    body .callback {
      width: 100%;
      background: url(../img/fon.png) no-repeat;
      background-size: 100% 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 5vw; }
      body .callback h2:after {
        content: "Зворотній зв'язок"; }
      body .callback form {
        width: 95%;
        height: 300px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        overflow: hidden; }
        body .callback form input {
          width: 100%;
          height: 50px;
          margin-left: 1%;
          padding-left: 5%;
          margin: 0; }
        body .callback form .remove {
          display: none; }
        body .callback form .last {
          margin-top: -5vw; }
      body .callback .send {
        background-color: red;
        width: 25%;
        height: 50px;
        color: #fff;
        cursor: pointer;
        margin-bottom: 3%;
        border-radius: 5px;
        font-size: 16px;
        text-align: center; }
      body .callback .send:hover {
        background-color: #be0000;
        color: #fff;
        border: none;
        border-radius: 8px;
        padding: 10px 27px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        font-family: 'Oxygen', sans-serif;
        letter-spacing: 2px; }
    body .arrow {
      width: 100%;
      height: 10vw;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      body .arrow .square {
        width: 45px;
        height: 45px;
        background-color: #fff;
        box-shadow: -4px 33px 100px 3px #c0c0c0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center; }
        body .arrow .square img {
          width: 40%;
          height: 40%; }
    body footer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end; }
      body footer h3 {
        color: red;
        font-size: 2.5vw; }
      body footer .power {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        body footer .power .text p .otakoyi {
          font-size: 2.5vw;
          font-weight: 800; } }
/* ___________________________________________________________________________*/
@media screen and (max-width: 576px) {
  body {
    margin: 0;
    margin-top: 1%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../img/lin.png) no-repeat;
    background-size: 100% 30%;
    /*_________________________HEADER END _____________________________*/
    /*________________________MAIN END ______________________*/
    /*______________________________ALL LIST END ___________________*/
    /*__________________DIGITAL END _______________*/
    /*__________________ SLIDER END _______________*/
    /*____________________________________FORM END _________________*/
    /*_______________ARROW END________________*/ }
    body header {
      width: 90%;
      display: flex;
      flex-direction: row; }
      body header .logo {
        display: none; }
      body header .navigation {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end; }
        body header .navigation .profile {
          width: 20%; }
          body header .navigation .profile ul {
            margin: 0;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content: flex-end; }
            body header .navigation .profile ul li {
              margin-left: 5%;
              display: flex; }
            body header .navigation .profile ul .search {
              width: 32px;
              height: 27px;
              min-width: 32px;
              min-height: 27px;
              background: url(../img/search.png) no-repeat; }
            body header .navigation .profile ul .number {
              display: none; }
            body header .navigation .profile ul .cab {
              display: none; }
            body header .navigation .profile ul .lang {
              display: none; }
        body header .navigation .navi ul {
          margin: 0;
          display: flex;
          flex-direction: row;
          justify-content: flex-start; }
          body header .navigation .navi ul li {
            display: none; }
          body header .navigation .navi ul .korzina {
            display: flex;
            width: 15%; }
            body header .navigation .navi ul .korzina img {
              width: 25px;
              height: 29px;
              min-width: 25px;
              min-height: 27px; }
            body header .navigation .navi ul .korzina #count {
              position: absolute;
              font-size: 18px;
              margin-left: 3%;
              background-color: #b9b9b9cc;
              border-radius: 5px; }
            body header .navigation .navi ul .korzina .howMany {
              display: none; }
    body .main {
      width: 90%;
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center; }
      body .main .words {
        width: 100%;
        height: 100%;
        text-align: center; }
        body .main .words .center {
          width: 100%;
          height: 100%; }
          body .main .words .center h1 {
            width: 100%;
            text-align: center;
            font-family: Verdana;
            color: red;
            margin-bottom: 0; }
          body .main .words .center p {
            text-align: left;
            width: 100%;
            height: 65%;
            font-size: 18px;
            color: #b0bfce; }
          body .main .words .center button {
            cursor: pointer;
            height: 50px;
            background: url(../img/button.png) no-repeat;
            color: #fff; }
          body .main .words .center button:hover {
            background: url(../img/button.png) no-repeat;
            background-size: cover;
            color: #fff;
            border: none;
            border-radius: 8px;
            padding: 10px 27px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            font-family: 'Oxygen', sans-serif;
            letter-spacing: 2px; }
      body .main .mainImg {
        position: absolute;
        width: 30%;
        margin-top: 5%;
        display: flex;
        justify-content: center;
        align-items: center; }
        body .main .mainImg img {
          width: 100%; }
      body .main .space {
        width: 10%;
        position: absolute; }
      body .main .lines {
        position: absolute;
        right: 5%;
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end; }
        body .main .lines img {
          margin-top: 20%; }
    body .all-list {
      width: 90%;
      display: flex;
      justify-content: center; }
      body .all-list .list .products {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 800; }
      body .all-list .list .show-all {
        cursor: pointer;
        color: red; }
      body .all-list .list .show-all:hover {
        font-size: 18px; }
    body .digital {
      width: 50%;
      display: flex;
      justify-content: center; }
      body .digital ul {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative; }
        body .digital ul .slide {
          background-color: 1px solid black;
          position: absolute;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          opacity: 0;
          transition: opacity 2s; }
        body .digital ul .first {
          opacity: 2;
          z-index: 2; }
        body .digital ul li {
          width: 70%;
          list-style-type: none;
          cursor: pointer; }
          body .digital ul li .twoBut {
            width: 100%;
            display: flex;
            justify-content: space-between; }
            body .digital ul li .twoBut button {
              background-color: #00000000;
              border: none; }
          body .digital ul li .risynok {
            width: 100%;
            height: 270px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            background-color: #888888; }
            body .digital ul li .risynok .promo {
              position: absolute;
              color: red;
              top: 0;
              right: 5%;
              border: 1px solid red;
              z-index: 1; }
            body .digital ul li .risynok .invise {
              position: absolute;
              left: 0;
              bottom: 0;
              right: 0;
              background: rgba(26, 26, 26, 0.7);
              display: none; }
            body .digital ul li .risynok .clear {
              top: 0;
              width: 100%;
              height: 20%; }
            body .digital ul li .risynok .buttons {
              top: 20%;
              width: 100%;
              height: 50%;
              display: none;
              flex-direction: column;
              justify-content: center;
              align-items: center; }
              body .digital ul li .risynok .buttons .butt {
                cursor: pointer;
                width: 60%;
                height: 30%;
                margin: 2%;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #fff; }
              body .digital ul li .risynok .buttons .butt:hover {
                background-color: red; }
            body .digital ul li .risynok .price {
              top: 70%;
              width: 100%;
              height: 30%;
              display: none;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-end; }
              body .digital ul li .risynok .price .wrongPrice {
                text-decoration: line-through;
                color: red; }
              body .digital ul li .risynok .price h3 {
                color: #fff;
                margin: 0;
                margin-left: 5%; }
          body .digital ul li .risynok:hover .invise {
            display: flex;
            background-color: #1d1d1db9; }
          body .digital ul li .details h3:hover {
            color: red; }
          body .digital ul li .details p {
            color: #b0bfce; }
    body .callback {
      width: 100%;
      background: url(../img/fon.png) no-repeat;
      background-size: 100% 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 450px; }
      body .callback h2:after {
        content: "Зворотній зв'язок"; }
      body .callback form {
        width: 95%;
        height: 300px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        overflow: hidden; }
        body .callback form input {
          width: 100%;
          height: 50px;
          margin-left: 1%;
          padding-left: 5%;
          margin: 0; }
        body .callback form .remove {
          display: none; }
        body .callback form .last {
          margin-top: -7%; }
      body .callback .send {
        background-color: red;
        width: 95%;
        height: 50px;
        color: #fff;
        cursor: pointer;
        margin-bottom: 3%; }
      body .callback .send {
        background-color: red;
        width: 25%;
        height: 50px;
        color: #fff;
        cursor: pointer;
        margin-bottom: 3%;
        border-radius: 5px;
        font-size: 16px;
        text-align: center; }
      body .callback .send:hover {
        background-color: #be0000;
        color: #fff;
        border: none;
        border-radius: 8px;
        padding: 10px 27px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        font-family: 'Oxygen', sans-serif;
        letter-spacing: 2px; }
    body .arrow {
      width: 90%;
      height: 100px;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      body .arrow .square {
        width: 45px;
        height: 45px;
        background-color: #fff;
        box-shadow: -4px 33px 100px 3px #c0c0c0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center; }
        body .arrow .square img {
          width: 40%;
          height: 40%; }
    body footer {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      body footer h3 {
        color: #ca1919; }
      body footer .power {
        min-width: 250px;
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        body footer .power .text p {
          color: #888888; }
          body footer .power .text p .otakoyi {
            color: #000000;
            font-weight: 800; } }
/*__________________________________________________________________________*/

/*# sourceMappingURL=style.css.map */
