body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    .header {
        width: 100%; 
        position: absolute;
        nav{
            width: 100%; 
            background-color: #5a5a5a41 !important;  
            display: flex;
            justify-content: center;
            .navbar-toggler{
                padding: 0;
                margin-left: 25vw; 
            }
            .nav-position{
                width: 50%;
                height: inherit; 
                display: flex;
                align-items: center;
                justify-content: space-between;   
                img{
                    width: 10vw;
                    margin-right: 20%;
                }
                ul{ 
                    list-style-type: none;
                    width: 40vw; 
                    li{                     
                        display: inline;
                        text-transform: uppercase;
                        margin-left: 1vw;
                        font-size: 1.1vw;
                        color: #fff;
                        font-weight: 500;
                        min-width: 79px;
                        cursor: pointer;
                        &:hover{
                            color: #ff8707;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    .area {    
        width: 100%;
        height: 45vw;        
        background: url(../img/header.png);
        background-size: 100% 100%; 
        .nav-center{
            width: 40%;
            margin-left: 25%;
            margin-top: 15%;
            padding: 1%;
            background-color: rgba(4, 0, 63, 0.075);
            color: #fff;
            h1{
                font-size: 3vw;
                margin: 0; 
                padding: 0;
                text-transform: uppercase; 
            }
            h3{
                font-size: 1.8vw;
            }
            p{
                font-size: 1vw;
            }
        }
    }
    .got-last {
        width: 70%;
        margin-top: 3vw;
        h2{
            text-transform: uppercase;
            font-size: 1.8vw;
        }
        .line{
            width: 17%;
            border: 1px solid #ff8707;
        }
        .place{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 4vw;
            .block {
                width: 25%;
                margin: 1%; 
                background-color: #dfdfdf;
                cursor: pointer;
                img{
                    width: 100%;
                    height: 11vw;
                }
                .placeForH { 
                    display: flex;
                    flex-direction: column;
                    align-items: center; 
                    h5 {
                        font-size: 1.2vw;
                        margin: 0;
                        text-align: center;
                        margin-bottom: 1vw;
                    }
                }
            &:first-child{
                margin-left: 0;
            }
            &:last-child{
                margin-right: 0;
            }
            &:hover { 
                transform: translateY(-1vw); 
                transition: all 0.2s linear;
              }
            }
        }
        .show-more{ 
            width: 11vw;
            text-transform: uppercase;
            font-weight: bold;
            border-radius: 5vw;
            font-size: 1vw;
            border: 2px solid #ff8707;
            text-align: center;
            color: #ff8707;
            cursor: pointer;
            margin: auto;
            margin-top: 3vw;
            margin-bottom: 3vw;
            padding: 3px;
            margin-left: 40%;
            &:hover{
                background-color: #ff870734;
            }
            &:active{
                transform: translateX(1px);
                transform: translateY(1px);
            }
        }
    }
    .about-us {
        width: 70%;  
        margin-top: 3vw; 
        p{
            font-size: 1vw;
            font-weight: 500;
        }
        h2{
            text-transform: uppercase;
            font-size: 1.8vw;
        }
        .line{
            width: 17%;
            border: 1px solid #ff8707;
        }
        .aboutText{
            width: 55%; 
            font-size: 1.1vw; 
            font-weight: 500;
            margin-top: 3vw;
        }
        img{
            width: 45vw; 
            height: 28vw; 
            position: absolute;
            margin-top: -29vw;
            margin-left: 38.6vw;
        }
        li{
            font-size: 1vw;
        }
    }
    .doing {
        width: 70%; 
        margin-top: 3vw;
        h2{
            text-transform: uppercase;
            font-size: 1.8vw;
        }
        .line{
            width: 17%;
            border: 1px solid #ff8707;
        }
        p{
            font-size: 1.1vw;
            font-weight: 500;
        }
    }
    .contact{
        width: 100%;
        height:  45vw;
        margin-top: 3vw;
        margin-bottom: 5vw;
        background: url(../img/contact.png);
        background-size: 100% 100%;
        .blockAbout {
            width: 30%;
            height: 41vw;
            position: absolute;
            margin-top: 7vw;
            margin-left: 20vw;
            background-color: rgba(0, 0, 0, 0.212);
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #fff;
            h2 {
                width: 60%;
                font-size: 1.7vw; 
                margin-top: 5vw; 
                margin-bottom: 2vw;
            }
            p{
                width: 60%;
                margin-bottom: 3vw;
                font-size: 1vw;
            }
            input{
                width: 57%;
                height: 1.5vw;
                margin-top: 1vw;
                margin-bottom: 1vw;
                border-radius: 1vw;  
                padding: 1vw 1vw;
            }
            input[placeholder]{
                font-size: 1vw;
            }
            .comment {
                width: 57%;
                height: 8vw;
                border-radius: 1vw;  
                margin-top: 1vw;
                padding: 0 1vw;
                padding-top: 0.5vw;
            }
            .comment[placeholder]{
                font-size: 1vw;
            }
            .btn-send{
                background-color: #ff8707;
                padding: 0.4vw;
                font-size: 1.1vw;
                width: 30%;
                text-align: center;
                border-radius: 1.2vw;
                cursor: pointer;
                margin-top: 1vw;
                text-transform: uppercase;
                &:active{
                    transform: translateX(1px);
                    transform: translateY(1px);
                }
                &:hover{
                    background-color: #d36d00;
                }
            }
        }
    }
    .footer{
        width: 100%;
        height: 20vw;
        background-color: #4d5a6b;
        display: flex;
        justify-content: center;
        margin: 0;
        .centerFooter{
            width: 60%;
            height: 100%;  
            display: flex;
            flex-direction: row;
            align-items: center;
            img{
                width: 33%;
                height: 37%;
                margin-left: 5%;
                margin-right: 10%;
            }
            .navi { 
                margin-left: 5%;
                margin-top: -1vw;
                h3{
                    color: #fff;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 1.2vw;
                    margin-bottom: 2vw;
                }
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    width: 10vw;
                    li{
                        text-transform: uppercase;
                        color: #fff;
                        font-weight: 500;
                        margin-bottom: 0.5vw;
                        font-size: 1vw;
                        &:hover{
                            color: #ff8707;
                            cursor: pointer;
                        }
                    }
                }
            }
            .cont { 
                margin-left: 5%;
                margin-top: -1vw;
                h3{
                    color: #fff;
                        font-weight: 500;
                    text-transform: uppercase;
                    font-size: 1.2vw;
                    margin-bottom: 2vw;
                }
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    li{
                        text-transform: uppercase;
                        color: #fff;
                        font-weight: 500;
                        margin-bottom: 0.5vw;
                        font-size: 1vw;
                        &:nth-child(3):hover{
                            color: #ff8707;
                            cursor: pointer;
                        }
                        &:nth-child(4):hover{
                            color: #ff8707;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .author{
            position: absolute;
            margin-top: 18%;
            margin-bottom: 0;
            font-size: 1vw;
            color: #fff;
        }
    }
    .silent{
        width: 100%;
        height: 50vw; 
        background: url(../img/silent.png);
        background-size: 100% 100%; 
        display: flex;
        justify-content: center;
        align-items: center;
        .error{
            width: 30%; 
            margin-left: 35vw;
            margin-top: -8vw;
            display: flex; 
            align-items: center;
            flex-direction: column;
            font-family: sans-serif;
            h1 {
                color: #fff;
                font-size: 6vw;
                margin: 0;
                text-transform: uppercase;
                font-weight: bold;
            }
            h2 {
                color: #fff;
                font-size: 3vw;
                margin: 0.5vw;
                text-transform: uppercase;
            }
            h4{
                color: #fff;
                margin: 0.3vw;
                font-size: 1.1vw;
            }
            .buton{
                width: 33%;
                border-radius: 5vw;
                margin-top: 2vw;
                padding: 0.4vw;
                font-size: 1.1vw;
                text-align: center;
                cursor: pointer;
                font-weight: bold;
                text-transform: uppercase;
                color: #fff;
                background-color: #ff8707;
            }
        }
    }
    .our-car{
        width: 100%;
        height: 30vw; 
        background: url(../img/cars.png);
        background-size: 100% 100%; 
        display: flex;
        justify-content: center;
        align-items: center;
        .cent {
            width: 50%;
            height: 20%;
            background-color: rgba(0, 0, 0, 0.1488);
            display: flex;
            justify-content: center;
            align-items: center;
            h1{
                color: #fff;
                text-transform: uppercase;
                font-size: 3vw;
                font-weight: bold;
            }
        }
    }
    .list-cars{
        width: 60%;  
        display: flex;
        flex-direction: column;
        align-items: center;
        .arrow-list{
            display: flex;
            .parent{
                font-size: 1vw;
                color: #000000;
            }
            .child{
                font-size: 1vw;
                color: #ff8707;
            }
        }
        .all-list{
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin-top: 1vw;
            flex-wrap: wrap; 
            cursor: pointer;
            .block {
                width: 30%;
                margin: 1%; 
                background-color: #dfdfdf;
                cursor: pointer;
                img{
                    width: 100%;
                    height: 11vw;
                }
                .placeForH { 
                    display: flex;
                    flex-direction: column;
                    align-items: center; 
                    h5 {
                        font-size: 1.2vw;
                        margin: 0;
                        text-align: center;
                        margin-bottom: 1vw;
                    }
                }
            &:first-child{
                margin-left: 0;
            }
            &:last-child{
                margin-right: 0;
            }
            &:hover { 
                transform: translateY(-1vw); 
                transition: all 0.2s linear;
              }
            }
        }
        .btn-all-list{ 
            width: 11vw;
            text-transform: uppercase;
            font-weight: bold;
            border-radius: 5vw;
            font-size: 1vw;
            border: 2px solid #ff8707;
            text-align: center;
            color: #ff8707;
            cursor: pointer;
            margin: auto;
            margin-top: 3vw;
            margin-bottom: 3vw;
            padding: 3px;
            &:hover{
                background-color: #ff870734;
            }
            &:active{
                transform: translateX(1px);
                transform: translateY(1px);
            }
        }
    }
    .thanks{
        width: 100%;
        height: 55vw; 
        background: url(../img/thanks.png);
        background-size: 100% 100%; 
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        .than{
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            h1{
            width: 150%;
            font-size: 3.4vw;
            background-color: #39506d36;
            text-transform: uppercase;
            text-align: center;
            padding: 1.5vw;
            margin: 0;
            }
            h4{
                font-size: 1vw;
                width: 90%;
            }
            .button{                
                width: 45%;
                font-size: 1.5vw;
                border-radius: 5vw;
                margin-top: 2vw;
                padding: 0.4vw;
                font-size: 1.1vw;
                text-align: center;
                cursor: pointer;
                font-weight: bold;
                text-transform: uppercase;
                color: #fff;
                background-color: #ff8707;
                &:hover{
                    background-color: #ce6a00;
                }
            }
        }
    }
    .buy-car{
        width: 100%;
        height: 30vw; 
        background: url(../img/cars.png);
        background-size: 100% 100%; 
        display: flex;
        justify-content: center;
        align-items: center;
        .buy-center {
            width: 50%;
            height: 20%;
            background-color: rgba(0, 0, 0, 0.1488);
            display: flex;
            justify-content: center;
            align-items: center;
            h1{
                color: #fff;
                text-transform: uppercase;
                font-size: 3vw;
                font-weight: bold;
            }
        }
    }
    .list-rulles{        
        width: 60%;  
        display: flex;
        flex-direction: column;
        align-items: center;
        .text-list{
            display: flex; 
            .parent{
                font-size: 1vw;
                color: #000000;
            }
            .child{
                font-size: 1vw;
                color: #ff8707;
            }
        }
        .more-info{                 
            width: 95%;
            font-size: 1vw;
            .p1{
                margin-top: 1.4vw;
                font-weight: 600;
            }
        }
        .consult{            
            width: 95%;
            .p2{
                font-size: 1.5vw;
                text-transform: uppercase;
                margin-top: 3vw;
                font-weight: 600;
            }
            .list1{
                width: 15%;
                border-bottom: 0.14vw solid #ff8707;
                margin-bottom: 2vw;
            }
            .p3{
                font-size: 1vw;
                font-weight: 600;
            }
        }
        .procedure{           
            width: 95%;
            .p2{
                font-size: 1.5vw;
                text-transform: uppercase;
                margin-top: 3vw;
                font-weight: 600;
            }
            .list2{
                width: 15%;
                border-bottom: 0.14vw solid #ff8707;
                margin-bottom: 2vw;
            }
            .p4{
                font-size: 1vw;
                font-weight: 600;
            }
            .p4New{
                margin-bottom: 5vw;
            }
        }
    }
    .buy-logo{
        width: 100%;
        height: 50vw; 
        background: url(../img/thanks.png);
        background-size: 100% 100%; 
        display: flex; 
        align-items: center;
        .buy-text{
            width: 25%;
            font-size: 1.2vw;
            margin-left: 20vw;
            color: #fff;
            line-height: 1.7vw;
            background-color: #1229472c;
            padding: 2.5vw;
        }
    }
    .insurance{
        width: 60%;
        margin-top: 5vw;
        margin-bottom: 2vw;
        .ruska{
            width: 15%;
            border-bottom: 0.15vw solid #ff8707;
            margin-bottom: 3vw;
        }
        h2{
            font-size: 1.5vw;
            text-transform: uppercase; 
        }
        h4{
            font-size: 1vw;
        }
    }
    .contacts-logo{
        width: 100%;
        height: 30vw; 
        background: url(../img/cars.png);
        background-size: 100% 100%; 
        display: flex;
        justify-content: center;
        align-items: center;
        .contacts-center {
            width: 50%;
            height: 20%;
            background-color: rgba(0, 0, 0, 0.1488);
            display: flex;
            justify-content: center;
            align-items: center;
            h1{
                color: #fff;
                text-transform: uppercase;
                font-size: 3vw;
                font-weight: bold;
            }
        }
    }
    .contacts-main{      
        width: 60%;  
        display: flex;
        flex-direction: column;
        align-items: center; 
        .contacts-list{
            display: flex;  

            .first{
                font-size: 1vw;
                color: #000000;
            }
            .second{
                font-size: 1vw;
                color: #ff8707;
                margin-left: 0.4vw;
            }
        }
        ul{ 
            width: 96%;
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            li{
                width: 20%;
                h3{
                    font-size: 1.1vw;
                }
                h4{
                    font-size: 1vw;
                }
                &:last-child{
                    h4:hover{
                        color: #ff8707;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .map{
        width: 70%;
        height: 20vw;
        margin-top: 2vw;
    }
}