body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    .header{
        width: 100%; 
        position: relative;
        #slider{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
            background-color: #66cc66;
             img {
                position: absolute;
                max-width: 100%;
                height: auto; 
                filter: brightness(0.45);
               } 
        }
        .navbar {
            width: 100%;
            background-color: rgba(255, 255, 255, 0.7) !important;
            display: flex !important;
            justify-content: space-between !important;
            .navbar-brand{
                margin-left: 10vw;
                width: 15%;
            }
            .nav-logo{ 
                width: 100%;
            }
            .collapse{ 
                width: 35vw;
                ul{
                    width: 100%;
                    margin-left: 20vw;
                    display: flex;
                    justify-content: space-between;
                    li{
                        font-size: 20px;
                        color: #000;
                        font-weight: 500 !important;
                    }
                }
            }
        }
        .header-title{
            margin-left: 10vw;
            margin-top: 10vw;
            h1{
                color: #fff;
                font-size: 2.5vw;
            }
            p{
                font-size: 1.5vw;
                color: #fff;
            }
        }
        .place-for-btn{
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 10vw;
            .btn {
                font-size: 2vw;
                color: #fff;
                background-color: #66cc66;
                text-transform: uppercase; 
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                user-select: none;
            }
        }
    }
    .figure{
        width: 100%;
        height: 50vw;
        background-image: url(../img/fon.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: -5; 
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            margin-top: 13vw;
            font-size: 1.8vw;
            color: #fff;
        }
        .circles {
            display: flex; 
            justify-content: center;
            align-items: center;
            width:70%;         
        .circle {
            border: 2px dotted #fff;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 3vw 3vw;
            cursor: pointer;
            img {
                width: 80%;
            }
        }
        .way{
            padding: 3vw 2vw;
        }
        .line{
            width: 20%;
            border: 2px dotted #fff;
        }
        }
        .text-circle{
            margin-top: 1vw;
            width: 81vw;
            display: flex;
            justify-content: space-between;
            .text-side{
                display: flex;
                flex-direction: column; 
                align-items: center;
                text-align: center;
                width: 25vw;
                h3{
                    font-size: 1.6vw;
                    margin: 0;
                    color: #fff;
                } 
                .line{
                    margin-top: .5vw;
                    width: 5vw;
                    border: 1px solid #fff;
                }
                p{
                    color: #fff;
                    font-size: 1.4vw;
                }
            }
        }
    }
    .main{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            color: #66cc66;
            font-size: 1.8vw;
            margin-top: 2vw;
        }
        p{
            width: 70%;
            font-size: 1.4vw;
            text-align: center;
        }
        .figures{
            margin-top: 2vw;
            width: 70%;
            display: flex;
            justify-content: space-between;
            .romb{
                h6{
                    text-align: center;
                    font-size: 1.5vw;
                    margin-top: 3vw;
                    font-weight: 100;
                }
            }
            .hexagon {
                width: 7.3vw;
                height: 4.5vw;
                background: #c7d633;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2.5vw;
                font-weight: bold;
                color: #fff;
            }
            .hexagon:before {
                content: "";
                position: absolute;
                top: -1.8vw; 
                left: 0;
                width: 0;
                height: 0;
                border-left: 3.67vw  solid transparent;
                border-right: 3.67vw  solid transparent;
                border-bottom: 1.8vw solid #c7d633;
            }
            .hexagon:after {
                content: "";
                position: absolute;
                bottom: -1.8vw; 
                left: 0;
                width: 0;
                height: 0;
                border-left: 3.67vw solid transparent;
                border-right: 3.67vw  solid transparent;
                border-top: 1.8vw solid #c7d633;
            }
            .hexagon-blue{
                background: #33c9c8;
            }
            .hexagon-blue:before{
                border-bottom: 1.8vw solid #33c9c8;
            }
            .hexagon-blue:after{
                border-top: 1.8vw solid #33c9c8;
            }
            .hexagon-green{
                background: #00a652;
            }
            .hexagon-green:before{
                border-bottom: 1.8vw solid #00a652;
            }
            .hexagon-green:after{
                border-top: 1.8vw solid #00a652;
            }
            .hexagon-purp{
                background: #f36e69;
            }
            .hexagon-purp:before{
                border-bottom: 1.8vw solid #f36e69;
            }
            .hexagon-purp:after{
                border-top: 1.8vw solid #f36e69;
            }
            .hexagon-col{
                background: #bf3e64;
            }
            .hexagon-col:before{
                border-bottom: 1.8vw solid #bf3e64;
            }
            .hexagon-col:after{
                border-top: 1.8vw solid #bf3e64;
            }
        }
        .main-text{
            width: 60%;
            display: flex;
            justify-content: space-between;
            margin-top: 3vw;
            .left-text{
                width: 35%;
                text-align: center;
                h3{
                    font-size: 1.6vw;
                }
                p{
                    width: 100%;
                    font-size: 1.4vw;
                }
            }
            .right-text{
                width: 35%;
                p{                    
                    font-size: 1.4vw;
                }
            }
        }
    }
    .footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #66cc66;
        padding-top: 1vw;
        margin-top: 5vw;
        .footer-top{
            width: 80%;
            display: flex;
            .footer-logo{
                width: 20%;
                img{
                    width: 80%;
                }
            }
            .footer-menu{
                color: #fff;
                width: 30%;
                h4{
                    margin: 0;
                    margin-top: .5vw;
                    font-size: 1.6vw;
                }
                p{
                    font-size: 1.4vw;
                }
            }
            .footer-socials{
                display: flex;
                .footer-hexagon {
                    width: 3vw;
                    height: 1.5vw;
                    background: #fff;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 2vw;
                    font-weight: bold;
                    color: #66cc66;
                    margin: 2vw;
                    cursor: pointer;
                    img{
                        width: 50%;
                    }
                }
                .footer-hexagon:before {
                    content: "";
                    position: absolute;
                    top: -1vw; 
                    left: 0;
                    width: 0;
                    height: 0;
                    border-left: 1.5vw  solid transparent;
                    border-right:  1.5vw  solid transparent;
                    border-bottom: 1vw solid #fff;
                }
                .footer-hexagon:after {
                    content: "";
                    position: absolute;
                    bottom: -1vw; 
                    left: 0;
                    width: 0;
                    height: 0;
                    border-left:  1.5vw solid transparent;
                    border-right:  1.5vw  solid transparent;
                    border-top: 1vw solid #fff;
                }
            }
        }
        .footer-bot{
            width: 80%;
            color: #fff;
            font-size: 1.5vw;
        }
    }
}
@media screen and (max-width: 992px){
    .navbar-brand{
        width: 17% !important;
    }
    body{        
        .place-for-btn{
            margin-top: 5vw !important;
            margin-bottom: 3vw;
        }        
        .collapse{ 
            width: 15vw;
            ul{
                width: 50%;
                margin-left: 0 !important;
                display: flex;
                justify-content: space-between;
                li{ 
                    text-align: right; 
                    font-weight: 500 !important;
                }
            }
        }
    }
}
@media screen and (max-width: 768px){  
    .navbar-brand{
        width: 20% !important;
    }  
    p{
        font-size: 2vw !important;
    }  
    h2{
        font-size: 3vw !important; 
    }
    h3{
        font-size: 2.2vw !important;
    }
    h4{
        font-size: 2.4vw !important;
    }
    h6{
        font-size: 2.3vw !important;
    }
    .place-for-btn{
        .btn {
            margin: 0 !important;
        }
    }  
    .header-title{
        h1{
            font-size: 3vw !important;
        }
    }
    .figure{
        margin-top: -3vw !important;
        h2{
            margin-top: 10vw !important;
        }
        .text-side{ 
            width: 33%; 
            h3{
                margin: 0; 
            }
            p{ 
                margin-top: .3vw !important;
            }
        }
    }
    .left-text {
        width: 50% !important;
    }
    .footer-top{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-logo{
        width: 40% !important;
        img{
            margin-left: -3vw;
            width: 100% !important;
        }
    }
    .footer-socials {
        justify-content: space-between;
        width: 50% !important;
        .footer-hexagon {
            width: 5vw !important;
            height: 3vw !important;
            background: #fff;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3vw !important;
            font-weight: bold;
            color: #66cc66;
            margin: 2vw;
            cursor: pointer;
            img{
                width: 50%;
            }
        }
        .footer-hexagon:before { 
            border-left: 2.5vw  solid transparent !important;
            border-right:  2.5vw  solid transparent !important;
            border-bottom: 1vw solid #fff !important;
        }
        .footer-hexagon:after { 
            border-left: 2.5vw  solid transparent !important;
            border-right:  2.5vw  solid transparent !important;
            border-top: 1vw solid #fff !important;
        }
    }
    .footer-menu{
        display: none;
    }
    .footer-bot{
        text-align: center;
        font-size: 3vw !important;
    }
}
@media screen and (max-width: 576px){   
    .navbar-brand{
        width: 25% !important;
    }
    .header-title{
        margin-top: 0vw !important
    }
    .figure{
        margin-top: 5vw !important;
    }
    p{
        font-size: 2.2vw !important;
    }  
    h2{
        font-size: 3.3vw !important; 
    }
    h3{
        font-size: 2.5vw !important;
    }
    h4{
        font-size: 2.6vw !important;
    }
    h6{
        font-size: 2.4vw !important;
    }
}